.pokemon-name{
    text-transform: capitalize;
}

img{
    width: 200px;
}

.badge{
    text-transform: capitalize;
}

.container{
    margin: 30px auto;
    width: 28%;
}

.inner-container{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 20px;
    padding-top: 0px;
}

.card-top{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 20px 20px 0 0 ;
}

.card{
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.pokemon-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.type-badge{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    margin-right: 3px;
}

.stat{
    text-transform: capitalize;
}

.stat-bar{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 5px;
}

.stats-head{
    padding: 5px;
    margin: 5px;
    margin-bottom: 0px;
}

.poke-icon{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.badge-img{
    width: 8%;
    margin-right:10px;
}
.stat-body{
    margin: 10px;
}

a{
    height: 40px;
    width: 95px;
    margin: 20px;
}
